<!DOCTYPE html>
<html>
<head>
    <style>
        table, td  {
            border: 1px solid grey;

            border-collapse: collapse;
            padding: 15px;

            font-family: Arial;
            font-size: 10pt;
        }
    </style>


</head>
<body>

<div ng-app="myApp" ng-controller="studentController">


    <br/>
    <table>
        <tr ng-repeat="x in myData | orderBy : 'Name'">
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ $index + 1 }}</td>
            <td ng-if="$even">
                {{ $index + 1 }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.Name | uppercase }}</td>
            <td ng-if="$even">
                {{ x.Name | uppercase }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.Email }}</td>
            <td ng-if="$even">
                {{ x.Email }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.City }}</td>
            <td ng-if="$even">
                {{ x.City }}</td>

        </tr>
    </table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="script2.js"></script>


</body>
</html>