<!DOCTYPE html>
    <html>
    <head>
        <style>
            table, td  {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 15px;

                font-family: Arial;
                font-size: 10pt;
            }
        </style>



    </head>
    <body>

    <div ng-app="myApp" ng-controller="myController">


        <br/>
        <table>
            <tr ng-repeat="x in myData | orderBy : 'Name'">
                <td ng-if="$odd" style="background-color:#fcd188">
                    {{ $index + 1 }}</td>
                <td ng-if="$even">
                    {{ $index + 1 }}</td>
                <td ng-if="$odd" style="background-color:#dbfc88">
                    {{ x.Name | uppercase }}</td>
                <td ng-if="$even">
                    {{ x.Name | uppercase }}</td>
                <td ng-if="$odd" style="background-color:#fcd188">
                    {{ x.Email }}</td>
                <td ng-if="$even">
                    {{ x.Email }}</td>
                <td ng-if="$odd" style="background-color:#dbfc88">
                    {{ x.Course }}</td>
                <td ng-if="$even">
                    {{ x.Course }}</td>

            </tr>
        </table>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="script4.js"></script>


    </body>
    </html>