<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hello from HomeController
<div ng-controller="myController">
    <form class="well">
        <input type="text" name="fname" ng-model="fname" placeholder="first name" /> <br/>
        <input type="text" name="lname" ng-model="lname" placeholder="last name" />
        <br /><br/>
        <input type="button" value="add student" ng-click="addStudent()" />
    </form>
    <br/>
    <table class="table">
        <tr ng-repeat="s in students">
            <td>{{ s.FirstName }}</td>
            <td>{{ s.LastName }}</td>
        </tr>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="script3.js"></script>

</body>
</html>